body {
  font-family: sans-serif;
  font-size: 12pt;
}

.line {
  stroke: red;
  fill: none;  
}
.path, .pending {
  stroke: red;
  fill: none;
  stroke-width: 7px;
}
.shape {
  stroke: blue;
  fill: none;  
}
.point {
  fill: rgba(0,0,0,0.05);
  cursor: pointer;
}

footer {
  font-size: 80%;
}

#triangle {
  stroke: red;
  fill: none;
}

#cursor {
  cursor: pointer;
}

.hover {
  fill: rgba(0, 0, 255, 0.3);
}
