body {
  font-family: sans-serif;
  font-size: 12pt;
}

.line {
  stroke: red;
  fill: none;  
  stroke-width: 3px;
}
.path, .pending, .apath {
  stroke: red;
  fill: none;
  stroke-width: 7px;
}

.apath {
  stroke: rgba(0, 0, 255, 0.5);

}

.shape {
  stroke: blue;
  fill: none;  
  stroke-width: 3px;
}
.point {
  fill: rgba(0,0,0,0.05);
  cursor: pointer;
}

footer {
  font-size: 80%;
}

#triangle {
  stroke: red;
  fill: none;
}

#cursor, #cursordot {
  cursor: pointer;
}

#cursordot {
  fill: red;
}

.tri {
  fill: none;
  stroke: blue;
}

.hover {
  fill: rgba(0, 0, 255, 0.3);
}

#overlay, #spacecon {
  position: relative;
  display: inline-block;
}

#reexpress #input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#onewarp #input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

}

.pline {
  pointer-events: none;
  stroke: blue;
  stroke-width: 3px;

}
